<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" />
<nav class="main-navigation-nav">
    <ul class="pr-info">
        <li>
            <a href="{{ site.baseurl }}/"><span>About Me</span></a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/contact"><span>Contact</span></a>
        </li>
    </ul>      
    <ul class="toggle-menu">
        <li><a href="{{ site.baseurl }}/education"><span>Education</span></a></li>
        <li><a href="{{ site.baseurl }}/professional-experience"><span>Professional Experience</span></a></li>
    </ul>
</nav>
<label for="main-nav-toggle" id="toggle"></label>