@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,500,500i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext");
@-webkit-keyframes move-flying-envelope {
  from {
    left: 0%; }
  to {
    left: calc(100% - 265px); } }
@keyframes move-flying-envelope {
  from {
    left: 0%; }
  to {
    left: calc(100% - 265px); } }

@-webkit-keyframes show-odd-works {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes show-odd-works {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes show-even-works {
  from {
    opacity: 0;
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes show-even-works {
  from {
    opacity: 0;
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Alegreya SC', serif; }

@media (min-width: 605px) {
  html {
    font-size: 18px; } }

@media (min-width: 1025px) {
  html {
    font-size: 20px; } }

@media (min-width: 1921px) {
  html {
    font-size: 24px; } }

body, table, th, td, form, input, textarea, option, select {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding: 1em 0 0.5em 0;
  font-weight: bold;
  color: #303f21; }

h1 {
  font-size: 2.741em; }

h2 {
  font-size: 2.641em; }

h3 {
  font-size: 1.563em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1em; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

li {
  list-style-position: inside; }

a {
  text-decoration: none; }

body {
  background-color: #a1b177; }

#site-header,
#site-content,
#site-footer {
  max-width: 65rem;
  margin: 0 auto; }

#site-content {
  background-color: #a1b177; }
  #site-content > section:first-of-type {
    background-color: #ebebeb;
    padding: 1em; }
    #site-content > section:first-of-type > header:first-of-type {
      text-align: center; }
      #site-content > section:first-of-type > header:first-of-type h2 {
        padding: 0; }
      #site-content > section:first-of-type > header:first-of-type p {
        font-style: italic; }

@media (min-width: 1025px) {
  #site #site-content > section:first-of-type {
    position: relative; }
    #site #site-content > section:first-of-type > header:first-of-type {
      position: absolute;
      width: 70%;
      top: -125px; } }

@media (max-width: 259px) {
  #site {
    display: none; }
  body::after {
    display: block;
    content: 'Sorry ERROR site width must be more or equal to 260px.';
    text-align: center;
    color: white;
    padding: 2em; } }

form input, form textarea {
  border: none;
  outline: none;
  padding: 0.6em; }
  form input:focus, form textarea:focus {
    border: 1px solid #3f4e27;
    box-shadow: 0 0 4px #3f4e27; }

.btn {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  text-align: center;
  cursor: pointer; }

#site-header {
  background-color: #e7eab3; }
  #site-header .general-information {
    padding: 0 0.2em 0.5em 0.2em; }
    #site-header .general-information h1 {
      text-align: center;
      padding-top: 0; }
    #site-header .general-information .avatar-image {
      min-height: 15rem;
      width: 16rem;
      border-radius: 50%;
      border: 2px solid #6b8d48;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2); }
      #site-header .general-information .avatar-image img {
        position: absolute;
        top: -15%;
        left: 0;
        width: 100%;
        height: auto; }
  #site-header .main-navigation {
    background-color: #6b8d48;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.2em; }

@media (min-width: 605px) {
  #site-header .main-navigation {
    justify-content: center;
    align-items: center; } }

@media (min-width: 1025px) {
  #site-header {
    position: relative;
    min-height: 330px;
    border-bottom: 1px dashed #65804a; }
    #site-header .general-information h1 {
      width: 75%;
      padding-top: 0.7em; }
    #site-header .general-information .avatar-image {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      z-index: 2; }
    #site-header .main-navigation {
      position: absolute;
      width: 75%;
      z-index: 1;
      top: 43%; } }

#main-nav-toggle {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0; }

#main-nav-toggle:checked + nav ul {
  display: block;
  flex: 1 0 100%; }

#main-nav-toggle:checked + nav + #toggle:before {
  content: url("../images/icons/navigation-menu/times-solid.svg"); }

.main-navigation-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex; }

.main-navigation-nav .toggle-menu {
  display: none; }

.main-navigation-nav a {
  display: flex;
  position: relative;
  color: white;
  padding: 0.5rem;
  justify-content: center;
  align-items: center; }
  .main-navigation-nav a span {
    display: flex;
    align-items: center;
    min-width: 85px; }
  .main-navigation-nav a span:before {
    width: 1em;
    padding-right: 0.3em; }

.main-navigation-nav .pr-info li:nth-child(1) a span:before {
  content: url("../images/icons/navigation-menu/user-alt-solid.svg"); }

.main-navigation-nav .pr-info li:nth-child(2) a span:before {
  content: url("../images/icons/navigation-menu/at-solid.svg"); }

.main-navigation-nav .toggle-menu li:nth-child(1) a span:before {
  content: url("../images/icons/navigation-menu/scroll-solid.svg"); }

.main-navigation-nav .toggle-menu li:nth-child(2) a span:before {
  content: url("../images/icons/navigation-menu/bug-solid.svg"); }

#toggle {
  cursor: pointer; }

#toggle:before {
  display: block;
  content: url("../images/icons/navigation-menu/bars-solid.svg");
  width: 2rem;
  padding: 0.2em 0.2em 0 0.2em; }

@media (min-width: 605px) {
  #toggle {
    display: none; }
  .main-navigation-nav {
    display: flex; }
    .main-navigation-nav .toggle-menu {
      display: flex; }
    .main-navigation-nav a:after {
      background-color: #3f4e27;
      content: '';
      display: block;
      position: absolute;
      height: 1em;
      width: 1px;
      bottom: 0;
      left: 0;
      top: calc(72% - 1em); }
    .main-navigation-nav .pr-info li:first-child a:after {
      display: none; } }

@media (min-width: 1025px) {
  .main-navigation-nav a:hover {
    background-color: #e7eab3;
    color: #303f21;
    transition: all 0.4s ease-out; }
    .main-navigation-nav a:hover span:before {
      transition: all 0.4s ease-out; }
  .main-navigation-nav .pr-info li:nth-child(1) a:hover span:before {
    content: url("../images/icons/navigation-menu/pc-media/user-alt-solid.svg"); }
  .main-navigation-nav .pr-info li:nth-child(2) a:hover span:before {
    content: url("../images/icons/navigation-menu/pc-media/at-solid.svg"); }
  .main-navigation-nav .toggle-menu li:nth-child(1) a:hover span:before {
    content: url("../images/icons/navigation-menu/pc-media/scroll-solid.svg"); }
  .main-navigation-nav .toggle-menu li:nth-child(2) a:hover span:before {
    content: url("../images/icons/navigation-menu/pc-media/bug-solid.svg"); }
  .main-navigation-nav a:hover:after {
    display: none; } }

#site-footer {
  background-color: #171615;
  color: white; }
  #site-footer > section {
    text-align: center; }
    #site-footer > section p:last-of-type {
      padding-bottom: 0; }

.about-me .page-content .page-menu h3 {
  text-align: center;
  padding-top: 0; }

.about-me .page-content .page-menu nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .about-me .page-content .page-menu nav ul li {
    flex: 1 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2em;
    border: 1px solid #6b8d48;
    border-bottom-width: 4px; }
    .about-me .page-content .page-menu nav ul li a {
      display: block;
      padding: 0.5em;
      color: #3f4e27;
      font-weight: bold;
      width: 100%; }

.about-me .page-content > section > header {
  border-bottom: 3px solid #6b8d48; }
  .about-me .page-content > section > header h2 {
    padding-bottom: 0.2em; }

.about-me .page-content #tech-stack section {
  display: flex;
  flex-wrap: wrap; }
  .about-me .page-content #tech-stack section strong {
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #a1b177;
    border-radius: 20px; }

.about-me .page-content #personal-skills section .progress {
  position: relative;
  height: 25px;
  background-color: #cccccc;
  border-radius: 25px; }

.about-me .page-content #personal-skills section .progress:after, .about-me .page-content #personal-skills section .progress:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: ''; }

.about-me .page-content #personal-skills section .progress:after {
  background-color: #a1b177;
  border-radius: 25px;
  z-index: 1; }

.about-me .page-content #personal-skills section .progress:before {
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  z-index: 2; }

.about-me .page-content #personal-skills section #responsibility:after {
  width: 90%; }

.about-me .page-content #personal-skills section #responsibility:before {
  content: '90%'; }

.about-me .page-content #personal-skills section #creativity:after {
  width: 80%; }

.about-me .page-content #personal-skills section #creativity:before {
  content: '80%'; }

.about-me .page-content #personal-skills section #teamwork:after {
  width: 70%; }

.about-me .page-content #personal-skills section #teamwork:before {
  content: '70%'; }

.about-me .page-content #personal-skills section #leadership:after {
  width: 86%; }

.about-me .page-content #personal-skills section #leadership:before {
  content: '86%'; }

.about-me .page-content #personal-skills section #make-quick-decisions:after {
  width: 80%; }

.about-me .page-content #personal-skills section #make-quick-decisions:before {
  content: '80%'; }

.about-me .page-content #personal-skills section #adapt-to-change:after {
  width: 75%; }

.about-me .page-content #personal-skills section #adapt-to-change:before {
  content: '75%'; }

.about-me .page-content #personal-skills section #make-others-laugh:after {
  width: 81%; }

.about-me .page-content #personal-skills section #make-others-laugh:before {
  content: '81%'; }

.about-me .page-content #personal-skills section #not-panic:after {
  width: 90%; }

.about-me .page-content #personal-skills section #not-panic:before {
  content: '90%'; }

.about-me .page-content #personal-skills section #quick-learning:after {
  width: 92%; }

.about-me .page-content #personal-skills section #quick-learning:before {
  content: '92%'; }

.about-me .page-content #personal-skills section #overcome-difficulties:after {
  width: 83%; }

.about-me .page-content #personal-skills section #overcome-difficulties:before {
  content: '83%'; }

.about-me .page-content #personal-skills section #transfer-abilities:after {
  width: 80%; }

.about-me .page-content #personal-skills section #transfer-abilities:before {
  content: '80%'; }

.about-me .page-content #projects section article {
  border: 1px dotted #a1b177;
  border-radius: 25px;
  padding: 1em 0.5em 0.5em 0.5em;
  margin-top: 0.5em; }
  .about-me .page-content #projects section article header {
    text-align: center; }
    .about-me .page-content #projects section article header h5 {
      display: inline;
      padding-top: 0;
      padding-bottom: 0.3em;
      border-bottom: 1px dotted #303f21; }
  .about-me .page-content #projects section article section p {
    padding: 0 0 0.3em 0.3em; }
  .about-me .page-content #projects section article section .description {
    padding: 0.5em 0; }
    .about-me .page-content #projects section article section .description p:first-of-type {
      color: #303f21; }
    .about-me .page-content #projects section article section .description p:last-of-type {
      text-indent: 0.5em; }
  .about-me .page-content #projects section article section .program-languages {
    padding: 0 0 0.3em 0.3em;
    color: #303f21; }
    .about-me .page-content #projects section article section .program-languages span {
      margin-bottom: 0.2em;
      margin-left: 0.5em;
      display: inline-block;
      padding: 0.3em;
      background-color: #a1b177;
      border-radius: 20px;
      color: black; }
  .about-me .page-content #projects section article section .link a {
    float: right;
    position: relative;
    padding-right: 0.5em; }
  .about-me .page-content #projects section article section .link a:before {
    content: url("../images/icons/info/globe-europe-solid.svg");
    display: inline-block;
    position: absolute;
    width: 1em;
    top: 3px;
    left: -1.5em; }
  .about-me .page-content #projects section article section .link:after {
    display: block;
    content: '';
    clear: both; }

.about-me .page-content #languages > section .parameters .parameter-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .about-me .page-content #languages > section .parameters .parameter-frame p {
    padding: 0;
    flex: 1 0 45%; }
  .about-me .page-content #languages > section .parameters .parameter-frame .evaluation {
    display: flex;
    justify-content: space-evenly; }
    .about-me .page-content #languages > section .parameters .parameter-frame .evaluation span {
      height: 2rem;
      width: 2rem;
      text-align: center;
      display: block;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 0.2em;
      padding: 0.2em;
      background-color: black;
      color: white; }
    .about-me .page-content #languages > section .parameters .parameter-frame .evaluation .filled, .about-me .page-content #languages > section .parameters .parameter-frame .evaluation .half-filled {
      border-color: #a1b177; }
    .about-me .page-content #languages > section .parameters .parameter-frame .evaluation .filled {
      background-color: #a1b177; }
    .about-me .page-content #languages > section .parameters .parameter-frame .evaluation .half-filled {
      background: linear-gradient(to right, #a1b177 50%, black 50%); }

.about-me .page-content #languages > section .parameters .parameter-frame:not(:last-child) {
  margin-bottom: 0.3em; }

.about-me .page-content #passions > section article {
  display: flex; }
  .about-me .page-content #passions > section article .media {
    margin-right: 1rem; }
    .about-me .page-content #passions > section article .media img {
      padding: 0.5em;
      width: 5rem;
      height: 5rem; }

.about-me .page-content #passions > section article:not(:last-of-type) {
  border-bottom: 1px dotted #6b8d48; }

.about-me .page-content #more .my-day section .media img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.about-me .page-content #more .my-day section .legend {
  display: flex;
  flex-wrap: wrap; }
  .about-me .page-content #more .my-day section .legend h5 {
    flex-basis: 100%; }
  .about-me .page-content #more .my-day section .legend p {
    display: flex;
    align-items: center;
    flex: 1 0 50%;
    min-width: 230px; }
    .about-me .page-content #more .my-day section .legend p span {
      display: block;
      text-align: center;
      width: 1.5em;
      margin-right: 0.5em; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(1) > span {
    background-color: #a1b177; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(2) > span {
    background-color: #303f21; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(3) > span {
    background-color: #4bacc6; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(4) > span {
    background-color: #9bbb59; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(5) > span {
    background-color: #f79646; }
  .about-me .page-content #more .my-day section .legend p:nth-of-type(6) > span {
    background-color: #6b8d48; }

.about-me .page-content #more .favorite-movies section, .about-me .page-content #more .favorite-games section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .about-me .page-content #more .favorite-movies section article, .about-me .page-content #more .favorite-games section article {
    flex-basis: 35%;
    text-align: center;
    margin: 1em 0.5em; }
    .about-me .page-content #more .favorite-movies section article .poster img, .about-me .page-content #more .favorite-games section article .poster img {
      width: 180px;
      height: 233px; }
    .about-me .page-content #more .favorite-movies section article p, .about-me .page-content #more .favorite-games section article p {
      padding: 0; }

@media (min-width: 1025px) {
  .about-me .page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 4.5em;
    grid-template-areas: "page-menu page-menu" "tech-stack personal-skills" "passions personal-skills" "passions languages" "projects more"; }
    .about-me .page-content .page-menu {
      grid-area: page-menu; }
      .about-me .page-content .page-menu nav ul li:hover {
        border-bottom-color: #303f21; }
        .about-me .page-content .page-menu nav ul li:hover a:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          transition: all 0.3s ease-out; }
    .about-me .page-content #tech-stack {
      grid-area: tech-stack; }
    .about-me .page-content #personal-skills {
      grid-area: personal-skills; }
    .about-me .page-content #projects {
      grid-area: projects; }
    .about-me .page-content #languages {
      grid-area: languages; }
    .about-me .page-content #passions {
      grid-area: passions; }
    .about-me .page-content #more {
      grid-area: more; } }

.education .page-content .vty, .education .page-content .softuni, .education .page-content .high-school-of-economics, .education .page-content .certificates-and-licenses {
  border: 1px dotted #a1b177;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 0.5em; }
  .education .page-content .vty input, .education .page-content .softuni input, .education .page-content .high-school-of-economics input, .education .page-content .certificates-and-licenses input {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0; }
  .education .page-content .vty label, .education .page-content .softuni label, .education .page-content .high-school-of-economics label, .education .page-content .certificates-and-licenses label {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-out; }
    .education .page-content .vty label h3, .education .page-content .vty label h4, .education .page-content .vty label h5, .education .page-content .softuni label h3, .education .page-content .softuni label h4, .education .page-content .softuni label h5, .education .page-content .high-school-of-economics label h3, .education .page-content .high-school-of-economics label h4, .education .page-content .high-school-of-economics label h5, .education .page-content .certificates-and-licenses label h3, .education .page-content .certificates-and-licenses label h4, .education .page-content .certificates-and-licenses label h5 {
      font-size: 1em;
      padding: 0 0 0 1.5em; }
    .education .page-content .vty label .average-grade, .education .page-content .softuni label .average-grade, .education .page-content .high-school-of-economics label .average-grade, .education .page-content .certificates-and-licenses label .average-grade {
      color: #303f21; }
  .education .page-content .vty label:before, .education .page-content .softuni label:before, .education .page-content .high-school-of-economics label:before, .education .page-content .certificates-and-licenses label:before {
    content: url("../images/icons/arrows/caret-down-solid.svg");
    position: absolute;
    display: block;
    top: -5px;
    width: 1em; }
  .education .page-content .vty input:checked + label, .education .page-content .softuni input:checked + label, .education .page-content .high-school-of-economics input:checked + label, .education .page-content .certificates-and-licenses input:checked + label {
    padding-bottom: 1em; }
  .education .page-content .vty #vty:checked + label, .education .page-content .vty #softuni:checked + label, .education .page-content .vty #high-school-of-economics:checked + label, .education .page-content .vty #certificates-and-licenses:checked + label, .education .page-content .softuni #vty:checked + label, .education .page-content .softuni #softuni:checked + label, .education .page-content .softuni #high-school-of-economics:checked + label, .education .page-content .softuni #certificates-and-licenses:checked + label, .education .page-content .high-school-of-economics #vty:checked + label, .education .page-content .high-school-of-economics #softuni:checked + label, .education .page-content .high-school-of-economics #high-school-of-economics:checked + label, .education .page-content .high-school-of-economics #certificates-and-licenses:checked + label, .education .page-content .certificates-and-licenses #vty:checked + label, .education .page-content .certificates-and-licenses #softuni:checked + label, .education .page-content .certificates-and-licenses #high-school-of-economics:checked + label, .education .page-content .certificates-and-licenses #certificates-and-licenses:checked + label {
    border-bottom: 1px dotted #303f21; }
  .education .page-content .vty input:checked + label:before, .education .page-content .softuni input:checked + label:before, .education .page-content .high-school-of-economics input:checked + label:before, .education .page-content .certificates-and-licenses input:checked + label:before {
    content: url("../images/icons/arrows/caret-up-solid.svg"); }
  .education .page-content .vty input + label + section, .education .page-content .softuni input + label + section, .education .page-content .high-school-of-economics input + label + section, .education .page-content .certificates-and-licenses input + label + section {
    display: none; }
  .education .page-content .vty input:checked + label + section, .education .page-content .softuni input:checked + label + section, .education .page-content .high-school-of-economics input:checked + label + section, .education .page-content .certificates-and-licenses input:checked + label + section {
    display: block; }
  .education .page-content .vty .knowledge .knowledge-header, .education .page-content .softuni .knowledge .knowledge-header, .education .page-content .high-school-of-economics .knowledge .knowledge-header, .education .page-content .certificates-and-licenses .knowledge .knowledge-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dotted #a1b177; }
    .education .page-content .vty .knowledge .knowledge-header h4, .education .page-content .softuni .knowledge .knowledge-header h4, .education .page-content .high-school-of-economics .knowledge .knowledge-header h4, .education .page-content .certificates-and-licenses .knowledge .knowledge-header h4 {
      flex-basis: 100%;
      font-size: 1em; }
    .education .page-content .vty .knowledge .knowledge-header span, .education .page-content .softuni .knowledge .knowledge-header span, .education .page-content .high-school-of-economics .knowledge .knowledge-header span, .education .page-content .certificates-and-licenses .knowledge .knowledge-header span {
      position: relative;
      display: block;
      padding: 0 0.5em 0.5em 1.5em; }
    .education .page-content .vty .knowledge .knowledge-header span:before, .education .page-content .softuni .knowledge .knowledge-header span:before, .education .page-content .high-school-of-economics .knowledge .knowledge-header span:before, .education .page-content .certificates-and-licenses .knowledge .knowledge-header span:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10%;
      width: 1em;
      display: block; }
    .education .page-content .vty .knowledge .knowledge-header span:nth-of-type(1):before, .education .page-content .softuni .knowledge .knowledge-header span:nth-of-type(1):before, .education .page-content .high-school-of-economics .knowledge .knowledge-header span:nth-of-type(1):before, .education .page-content .certificates-and-licenses .knowledge .knowledge-header span:nth-of-type(1):before {
      content: url("../images/icons/info/calendar-alt-solid.svg"); }
    .education .page-content .vty .knowledge .knowledge-header span:nth-of-type(2):before, .education .page-content .softuni .knowledge .knowledge-header span:nth-of-type(2):before, .education .page-content .high-school-of-economics .knowledge .knowledge-header span:nth-of-type(2):before, .education .page-content .certificates-and-licenses .knowledge .knowledge-header span:nth-of-type(2):before {
      content: url("../images/icons/info/map-marker-alt-solid.svg");
      top: 0; }
    .education .page-content .vty .knowledge .knowledge-header span:nth-of-type(3):before, .education .page-content .softuni .knowledge .knowledge-header span:nth-of-type(3):before, .education .page-content .high-school-of-economics .knowledge .knowledge-header span:nth-of-type(3):before, .education .page-content .certificates-and-licenses .knowledge .knowledge-header span:nth-of-type(3):before {
      content: url("../images/icons/info/globe-europe-solid.svg"); }
  .education .page-content .vty .knowledge .knowledge-content label, .education .page-content .softuni .knowledge .knowledge-content label, .education .page-content .high-school-of-economics .knowledge .knowledge-content label, .education .page-content .certificates-and-licenses .knowledge .knowledge-content label {
    padding: 1em 0 1em 0.3em; }
  .education .page-content .vty .knowledge .knowledge-content label:not(:last-of-type), .education .page-content .softuni .knowledge .knowledge-content label:not(:last-of-type), .education .page-content .high-school-of-economics .knowledge .knowledge-content label:not(:last-of-type), .education .page-content .certificates-and-licenses .knowledge .knowledge-content label:not(:last-of-type) {
    border-bottom: 1px dotted #a1b177; }
  .education .page-content .vty .knowledge .knowledge-content label:last-of-type, .education .page-content .softuni .knowledge .knowledge-content label:last-of-type, .education .page-content .high-school-of-economics .knowledge .knowledge-content label:last-of-type, .education .page-content .certificates-and-licenses .knowledge .knowledge-content label:last-of-type {
    padding-bottom: 0; }
  .education .page-content .vty .knowledge .knowledge-content label:before, .education .page-content .softuni .knowledge .knowledge-content label:before, .education .page-content .high-school-of-economics .knowledge .knowledge-content label:before, .education .page-content .certificates-and-licenses .knowledge .knowledge-content label:before {
    padding: 1em 0; }
  .education .page-content .vty .knowledge .knowledge-content > label + section label, .education .page-content .softuni .knowledge .knowledge-content > label + section label, .education .page-content .high-school-of-economics .knowledge .knowledge-content > label + section label, .education .page-content .certificates-and-licenses .knowledge .knowledge-content > label + section label {
    padding-left: 1em; }
  .education .page-content .vty .knowledge .knowledge-content .course, .education .page-content .softuni .knowledge .knowledge-content .course, .education .page-content .high-school-of-economics .knowledge .knowledge-content .course, .education .page-content .certificates-and-licenses .knowledge .knowledge-content .course {
    padding: 0.5em 0 0.5em 2.6em;
    border-bottom: 1px dotted #a1b177; }
    .education .page-content .vty .knowledge .knowledge-content .course a, .education .page-content .softuni .knowledge .knowledge-content .course a, .education .page-content .high-school-of-economics .knowledge .knowledge-content .course a, .education .page-content .certificates-and-licenses .knowledge .knowledge-content .course a {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .education .page-content .vty .knowledge .knowledge-content .course a h6, .education .page-content .softuni .knowledge .knowledge-content .course a h6, .education .page-content .high-school-of-economics .knowledge .knowledge-content .course a h6, .education .page-content .certificates-and-licenses .knowledge .knowledge-content .course a h6 {
        font-size: 1em;
        padding: 0; }
      .education .page-content .vty .knowledge .knowledge-content .course a .course-grade, .education .page-content .softuni .knowledge .knowledge-content .course a .course-grade, .education .page-content .high-school-of-economics .knowledge .knowledge-content .course a .course-grade, .education .page-content .certificates-and-licenses .knowledge .knowledge-content .course a .course-grade {
        color: black; }
    .education .page-content .vty .knowledge .knowledge-content .course a:before, .education .page-content .softuni .knowledge .knowledge-content .course a:before, .education .page-content .high-school-of-economics .knowledge .knowledge-content .course a:before, .education .page-content .certificates-and-licenses .knowledge .knowledge-content .course a:before {
      content: url("../images/icons/arrows/caret-right-solid.svg");
      position: absolute;
      display: block;
      width: 0.5em;
      top: 2%;
      left: -0.8em; }

.education .page-content .vty .knowledge .knowledge-content p {
  text-align: center;
  padding: 0.5em 0 0 0; }

.education .page-content div.media {
  position: relative;
  margin-top: 1em; }
  .education .page-content div.media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; }

.education .page-content div.media:after {
  display: block;
  content: '';
  padding-top: 56.25%; }

@media (min-width: 1025px) {
  .education .page-content .vty > label, .education .page-content .softuni > label, .education .page-content .high-school-of-economics > label, .education .page-content .certificates-and-licenses > label {
    display: block;
    text-align: center; } }

.professional-experience .page-content {
  padding-bottom: 2em; }
  .professional-experience .page-content #timeline {
    padding-top: 3em;
    padding-left: 1em;
    position: relative; }
    .professional-experience .page-content #timeline .start-and-now:after, .professional-experience .page-content #timeline .start-and-now:before {
      display: block;
      position: absolute;
      background: #303f21;
      color: #ebebeb;
      padding: 0.3em;
      border: 2px solid #a1b177;
      border-radius: 30%; }
    .professional-experience .page-content #timeline .start-and-now:before {
      content: 'Now';
      top: 0;
      margin-left: calc(-0.3em - 1px); }
    .professional-experience .page-content #timeline .start-and-now:after {
      content: 'Start';
      bottom: -3em;
      margin-left: calc(-0.3em - 4px); }
    .professional-experience .page-content #timeline article {
      width: 100%;
      margin: 0 0 20px 0;
      position: relative; }
      .professional-experience .page-content #timeline article div.content-frame {
        width: 100%;
        padding-left: 3em;
        float: left;
        margin: 5px 0 0 0;
        border-radius: 6px; }
        .professional-experience .page-content #timeline article div.content-frame span.dot {
          display: block;
          width: 30px;
          height: 25px;
          position: absolute;
          top: 0;
          left: 1em;
          margin: 0 0 0 -15px;
          border-radius: 100%;
          background: #a1b177;
          border: 3px solid #ebebeb;
          box-shadow: 0 0 0 7px #303f21; }
        .professional-experience .page-content #timeline article div.content-frame .work {
          -webkit-animation-name: show-even-works;
                  animation-name: show-even-works;
          -webkit-animation-duration: 1s;
                  animation-duration: 1s;
          -webkit-animation-delay: 0s;
                  animation-delay: 0s; }
          .professional-experience .page-content #timeline article div.content-frame .work header {
            border-radius: 6px 6px 0 0;
            position: relative;
            background: #538026;
            padding: 0.5em; }
            .professional-experience .page-content #timeline article div.content-frame .work header h3 {
              padding: 0; }
            .professional-experience .page-content #timeline article div.content-frame .work header p {
              padding-bottom: 0.5em; }
            .professional-experience .page-content #timeline article div.content-frame .work header div {
              display: flex;
              flex-wrap: wrap; }
              .professional-experience .page-content #timeline article div.content-frame .work header div span {
                position: relative;
                padding: 0 0.5em 0.5em 1.5em; }
              .professional-experience .page-content #timeline article div.content-frame .work header div span:before {
                content: '';
                position: absolute;
                left: 0;
                top: 10%;
                width: 1em;
                display: block; }
              .professional-experience .page-content #timeline article div.content-frame .work header div span:nth-of-type(1):before {
                content: url("../images/icons/info/calendar-alt-solid.svg"); }
              .professional-experience .page-content #timeline article div.content-frame .work header div span:nth-of-type(2):before {
                content: url("../images/icons/info/map-marker-alt-solid.svg");
                top: 0; }
          .professional-experience .page-content #timeline article div.content-frame .work header:after {
            content: '';
            position: absolute;
            top: 15px;
            left: -5px;
            width: 10px;
            height: 10px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            background: #538026; }
          .professional-experience .page-content #timeline article div.content-frame .work .more-info {
            background: white;
            border-radius: 0 0 6px 6px; }
            .professional-experience .page-content #timeline article div.content-frame .work .more-info p {
              padding: 0.3em 0.5em 0 1em;
              text-indent: 0.5em; }
            .professional-experience .page-content #timeline article div.content-frame .work .more-info ul {
              padding-left: 1.7em;
              padding-top: 0.5em;
              list-style: none; }
              .professional-experience .page-content #timeline article div.content-frame .work .more-info ul li:before {
                content: url("../images/icons/arrows/caret-right-solid.svg");
                width: 0.2em;
                display: inline-block;
                margin-right: 0.5em; }
    .professional-experience .page-content #timeline article:after {
      content: '';
      display: block;
      clear: both; }
    .professional-experience .page-content #timeline article:nth-child(even) div.content-frame header {
      background: #65804a; }
    .professional-experience .page-content #timeline article:nth-child(even) div.content-frame header:after {
      background: #65804a; }
  .professional-experience .page-content #timeline:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 2em;
    bottom: -2em;
    margin: 0 0 0 -1px;
    width: 2px;
    background: #303f21; }

@media (min-width: 605px) {
  .professional-experience .page-content #timeline {
    padding-left: 0; }
    .professional-experience .page-content #timeline .start-and-now:before, .professional-experience .page-content #timeline .start-and-now:after {
      left: 50%; }
    .professional-experience .page-content #timeline .start-and-now:before {
      margin-left: -1.37em; }
    .professional-experience .page-content #timeline .start-and-now:after {
      margin-left: -1.57em; }
    .professional-experience .page-content #timeline article div.content-frame {
      width: 45%;
      padding-left: 0; }
      .professional-experience .page-content #timeline article div.content-frame span.dot {
        left: 50%; }
      .professional-experience .page-content #timeline article div.content-frame .work header:after {
        right: -5px;
        left: unset; }
    .professional-experience .page-content #timeline article:nth-child(even) div.content-frame {
      float: right; }
      .professional-experience .page-content #timeline article:nth-child(even) div.content-frame .work header:after {
        left: -5px; }
    .professional-experience .page-content #timeline article:nth-child(odd) div.content-frame .work {
      -webkit-animation-name: show-odd-works;
              animation-name: show-odd-works;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
  .professional-experience .page-content #timeline:before {
    left: 50%; } }

.contact .page-content form input, .contact .page-content form textarea {
  border: 0.5px solid #303f21;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 0.5em; }

.contact .page-content form textarea {
  height: 30vh;
  margin-bottom: 0; }

.contact .page-content form p {
  font-size: 0.6em;
  padding-bottom: 0.5em;
  text-align: right;
  color: #757575; }

.contact .page-content form .submit-button {
  border-radius: 8px;
  background: #303f21;
  color: #e7eab3;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  width: 100%; }

.contact .page-content div.media {
  margin-top: 1em;
  text-align: center; }

@media (min-width: 605px) {
  .contact .page-content div.media {
    text-align: unset; }
    .contact .page-content div.media img {
      position: relative;
      -webkit-animation-name: move-flying-envelope;
              animation-name: move-flying-envelope;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      animation-direction: alternate-reverse; } }

@media (min-width: 1025px) {
  .contact .page-content form .submit-button {
    width: 10%;
    float: right; }
  .contact .page-content form:after {
    display: block;
    content: '';
    clear: both; } }
