//media variables
$site-min-width: 'site-min-width';
$phone: 'phone';
$tablet: 'tablet';
$pc: 'pc';
$tv: 'tv';

//typography variables
$phone-base-font-size: 16px;
$tablet-base-font-size: 18px;
$pc-base-font-size: 20px;
$tv-base-font-size: 24px;

//colors
$primary-background-color: rgb(161, 177, 119); 
$secondary-background-color: rgb(235, 235, 235);
$main-header-background-color: rgb(231, 234, 179);
$main-footer-background-color: rgb(23, 22, 21);
$main-nav-background-color: rgb(107, 141, 72);
$headings-text-color: rgb(48, 63, 33);
$main-a-text-color: rgb(255, 255, 255);
$main-a-border-color: rgb(63, 78, 39);
$main-timeline-color: rgb(83, 128, 38);
$secondary-timeline-color: rgb(101, 128, 74);