<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ site.baseurl }}/images/icons/site-icon.svg">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">

    <title>{{ page.title }}</title>
</head>

<body>
    <div id="site">
        {% include site-header.html %}
        <main id="site-content">
            {{ content }}
        </main>
        {% include site-footer.html %}
    </div>
</body>

</html>